# Default ignored files
/../../Mooc Learning /.idea/shelf/
/../../Mooc Learning /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Mooc Learning /.idea/httpRequests/
# Datasource local storage ignored files
/../../Mooc Learning /.idea/dataSources/
/../../Mooc Learning /.idea/dataSources.local.xml
